<div class="container d-flex flex-column align-items-center justify-content-center mt-5">
    <p *ngIf="message" class="alert alert-warning">
        {{message}}
       
    </p>
    <form
      (ngSubmit)="onsend()"
      class="col-12 col-md-8 col-lg-4 border p-4 rounded-4 shadow"
    >
      <h1 class="text-center mb-4">Reset Password</h1>
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input
          class="form-control"
          type="email"
          name="email "
          id="email"
          [(ngModel)]="email"
         
        />
      </div>
     
      <button class="btn btn-danger d-block mx-auto mt-3" type="submit">
        Send Reset Link
      </button>
        
        
      </form>
  </div>
  