/* You can add global styles to this file, and also import other style files */
$primary:#96b3b249;
$secondary:#f4feff23;
$light:#f7fffd15;
$warning:#00ffdd62;
$dark:#b49fff23;



@import "../node_modules/bootstrap/scss/bootstrap.scss";