<div class="bg-light position-relative" style="background-image: url('loginbackground.png'); background-size: cover; background-attachment: fixed; height: 100vh;">
<div class="container  d-flex flex-column align-items-center">
   
    <form (ngSubmit)="onRegister()" class="col-12 col-md-8 col-lg-4 mt-5 border bg-white p-4 rounded-4 shadow">
        <img src="logo.png" alt="logo" width="50px" class=" mb-4 d-block mx-auto">
        <h1 class="text-center mb-4">Register</h1>
        <p class="alert alert-danger" *ngIf="message">
            {{message}}
        </p>
        <div class="form-group">
            <label class="form-label" for="name">Name</label>
            <input class="form-control mb-3" type="text" name="name" id="name" [(ngModel)]="name">
        </div>
     
        <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input class="form-control mb-3" type="email" name="email" id="email" [(ngModel)]="email">
        </div>
        <div class="form-group">
            <label class="form-label" for="password">password</label>
            <input class="form-control" type="email" name="email " id="password" [(ngModel)]="password">
        </div>
        <button type="submit" class="btn btn-dark mt-2 d-block mx-auto">Register</button>

        <p class="text-center mt-3 mb-5">Already have an account? <a class="pe-auto" routerLink="/login">Login</a> </p>
    </form>
</div>
</div>
